.hline {
    border-top: 2px solid #b2b9c3; /* Adjust the thickness and color as needed */
    margin: 20px 0; /* Adjust the spacing as needed */
    margin-bottom: 5px;
}

/*
.reveal {
    font-size: 200%;
  }
*/

.secbr {
    display: block;
    margin: 2px 0; /* Adjust the vertical space as needed */
}

.br1 {
    display: block;
    margin: 10px 0; /* Adjust the vertical space as needed */
}

.br10 {
    display: block;
    margin: -10px 0; /* Adjust the vertical space as needed */
}

.br20 {
    display: block;
    margin: -20px 0; /* Adjust the vertical space as needed */
}

.br30 {
    display: block;
    margin: -30px 0; /* Adjust the vertical space as needed */
}

.br40 {
    display: block;
    margin: -40px 0; /* Adjust the vertical space as needed */
}

.sbr {
    display: block;
    margin: -30px 0; /* Adjust the vertical space as needed */
}

.skip {
    display: block;
    margin: -22.5px 0; /* Adjust the vertical space as needed */
}

.vspace4 {
    display: block;
    margin: -30px 0; /* Adjust the vertical space as needed */
}

.up {
    display: block;
    margin: -50px 0; /* Adjust the vertical space as needed */
}

.section{
    font-size: 1.1em; /* Set the font size */
    margin-top: 1px;  /* Set the space from the text above */
    font-weight: 500;
    color: #227494; /* #3f7ad4; */
}


.red {
    color: #b42121;
}

.white {
    color: #ffffff;
}

.light-red {
    color: #ee2c2c;
}

.blue {
    color: #345a8b;
}

.light-blue {
    color: #394ae0;
}

.orange{
    color: #dd8e1f;
}

.green {
    color: #15797A;
}

.darkgreen {
    color: #134849ff;
}

.lightgreen {
    color: #53a343;
}

.blur {
    color: #dbdedf;
}


.br0 {
    display: block;
    margin: 10px 0; /* Adjust the vertical space as needed */
}

.footnote {
    font-size: 0.6em; /* Set the font size */
    margin-top: 1px;  /* Set the space from the text above */
}

.notes {
    position: absolute;
    bottom: 10px; /* Adjust the distance from the bottom */
    right: 10px;  /* Adjust the distance from the right */
    font-size: 0.8em; /* Adjust the font size as needed */
    background-color: rgba(255, 255, 255, 0.8); /* Optional: Add a background color with transparency */
    padding: 5px; /* Optional: Add some padding */
    border-radius: 5px; /* Optional: Add rounded corners */
}